html,
body,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html a {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1em;
}

h1:first-child:not(.mt),
h2:first-child:not(.mt),
h3:first-child:not(.mt),
h4:first-child:not(.mt),
h5:first-child:not(.mt),
h6:first-child:not(.mt) {
  margin-top: 0;
}

/* list for information details */

.info-table {
  min-width: 50%;
}

.info-table td {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #f0f0f1;
}

/* ant table responsiveness */

.ant-table {
  overflow-x: auto;
}

.ant-table th,
.ant-table td {
  white-space: nowrap;
}

.ant-table th {
  padding: 4px 16px !important;
}

.table-row-active {
  background-color: rgba(8, 120, 189, 0.1);   /* 10% opacity of lochmara-5 color */
}

/* common helpers and styles */

.adp-flex {
  display: flex;
  align-items: center;
}

.adp-flex-right {
  margin-left: auto;
}

button.with-pointer {
  cursor: pointer;
}

button.with-icon {
  background: transparent;
  border: 0;
  color: #fff;
  outline: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
